<!DOCTYPE html>
<html lang="en">
<head>
  <!DOCTYPE html>
  <html lang="en">
  <html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
  </head>
<body>
<h2><span>GETNIN </span><span th:text="${userName}"></span></h2>
<br><h3>Su usuario para acceder a la aplicación fue creado con éxito.</h3>
<p>Para acceder al sistema debe ingresar con el correo registrado y el password con Cc* y número de identificación (ejemplo = Cc*123456789). Recuerde no compartir o difundir su contraseña por seguridad.</p>
<h4>Haz click en el siguiente enlace para acceder a tu cuenta</h4>
<a th:href="@{${url}}"><button>Ingresar</button></a><br><br>

</body>
</html>
</head>
<body>

</body>
</html>