<!DOCTYPE html>
<html lang="en">
<head>
  <!DOCTYPE html>
  <html lang="en">
  <html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
  </head>
<body>
<h2><span>Bienvenido de nuevo </span></h2>
<br><h3>Se ha configurado el correo exitosamente.</h3>
<p>Se notificará a los usuarios de la creación mediante este correo electronico.</p>
<h4>Haz click en el siguiente enlace para acceder a tu cuenta</h4>
<a th:href="@{${url}}"><button>Ingresar</button></a><br><br>

</body>
</html>
</head>
<body>

</body>
</html>